  <table class="detail-table">
    <tbody>
      <tr>
        <th class="detail-item">店舗名</th>
        <td class="detail-value"><%= @store.store_name %></td>
      </tr>
      <tr>
        <th class="detail-item">店舗案内</th>
        <td class="detail-value"><%= @store.store_guide %></td>
      </tr>
      <tr>
        <th class="detail-item">店舗住所</th>
        <td class="detail-value"><%= @store.store_address %></td>
      </tr>
      <tr>
        <th class="detail-item">店舗電話番号</th>
        <td class="detail-value"><%= @store.store_tel %></td>
      </tr>
      </tbody>
    </table>